.normal {
    background-color: #C6C6A7;
  }

  .fighting {
    background-color: #D67873;
  }

  .flying {
    background-color: #C6B7F5;
  }

  .poison { 
    background-color: #C183C1;
  }

  .ground {
    background-color: #EBD69D;
  }

  .rock {
    background-color: #D1C17D;
  }

  .bug {
    background-color: #C6D16E;
  }

  .ghost {
    background-color: #A292BC;
  }

  .steel {
    background-color: #D1D1E0;
  }

  .fire {
    background-color: #F5AC78;
  }

  .water {
    background-color: #9DB7F5;
  }
.grass {
  background-color: #A7DB8D;
}
.electric {
  background-color: #FAE078;
}

.psychic {
  background-color: #FA92B2;
}

.ice {
  background-color: #BCE6E6;
}

.dragon {
  background-color: #A27DFA;
}

.dark {
  background-color: #A29288;
}

.fairy {
  background-color: #F4BDC9;
}